window {
    margin: 0px;
    border: 2px solid #f9f9f9;
    background-color: #1b1b1b;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #111111;
    background-color: #36454f;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #111111;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #111111;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#entry:selected {
    background-color: #c0c0c0;
    border-radius: 5px;
}

#entry:selected #text {
    color: #1a1b26;
}
