/* ~/nixos-dotfiles/config/wofi/style.css */

window {
    margin: 0px;
    border: 2px solid #7aa2f7; /* Blue border */
    background-color: #1a1b26; /* Tokyo Night Background */
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #c0caf5;
    background-color: #24283b;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1a1b26;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1a1b26;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#entry:selected {
    background-color: #7aa2f7; /* Selection Blue */
    border-radius: 5px;
}

#entry:selected #text {
    color: #1a1b26; /* Dark text on selection */
}
