window {
    background-color: #1a1b26;
    border: 3px solid #7aa2f7;
    border-radius: 20px;
}

box {
    orientation: vertical;
    padding: 30px;
}

image { display: none;
    color: #7aa2f7;
    min-width: 80px;
    min-height: 80px;
    margin-bottom: 20px;
}

progress {
    min-width: 300px;
    min-height: 20px;
}

trough {
    background-color: #414868;
    min-height: 20px;
    border-radius: 10px;
}

highlight {
    background-color: #7aa2f7;
    min-height: 20px;
    border-radius: 10px;
}
